#qrcode {
  width: 100%; 
  height: auto; 
  text-align: center; 
}

#dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  padding-top: 6.25rem;
}

#dialog:target {
  display: block;
}

.dialog-content {
  background-color: #f0f3f5;
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #000; 
  width: auto;
  height: auto;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.input-container {
  margin-bottom: 10px; 
}

.input-container input {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    background-color: #ffffff;
    opacity: 0.6;
    border: 1px solid #a3bac6;
    border-radius:2px;
    max-width: 24rem;
    width: 100%;
    height: 2rem;
}

.input-container select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  background-color: #ffffff;
  opacity: 0.6;
  border: 1px solid #a3bac6;
  border-radius: 2px;
  max-width: 24rem;
  width: 100%;
  height: 2rem;
}


.cxgd {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f3f5;
  border: 1px solid #a3bac6;
  padding: 1.25rem;
  border-radius: 1.25rem;
  height: auto;
  max-height: 16rem;
  width: 100%;
  max-width: 24rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center; 
  justify-content: center;
}

.generate-button{
  background-color: #141414;
  color: #ffffff;
  border: 1px solid #1f1e1e;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.generate-button:hover{
  opacity: 0.85;
}
